<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{{adminlte}/bower_components/bootstrap/dist/css/bootstrap.min.css(adminlte=${adminlte})}"/>
    <link rel="stylesheet" th:href="@{{adminlte}/bower_components/font-awesome/css/font-awesome.min.css(adminlte=${adminlte})}"/>
    <link rel="stylesheet" th:href="@{{adminlte}/bower_components/Ionicons/css/ionicons.min.css(adminlte=${adminlte})}"/>
    <link rel="stylesheet" th:href="@{{adminlte}/plugins/iCheck/all.css(adminlte=${adminlte})}" />
    <link rel="stylesheet" th:href="@{{adminlte}/plugins/iCheck/square/blue.css(adminlte=${adminlte})}">
    <link rel="stylesheet" th:href="@{{adminlte}/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css(adminlte=${adminlte})}">
    <link rel="stylesheet" th:href="@{{adminlte}/dist/css/AdminLTE.min.css(adminlte=${adminlte})}" />
    <link rel="stylesheet" th:href="@{{adminlte}/dist/css/skins/_all-skins.min.css(adminlte=${adminlte})}">
</head>
<body>

</body>
</html>