<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="header">
<header class="main-header">
    <a href="/" class="logo">
        <span class="logo-mini"><b>LT</b></span>
        <span class="logo-lg"><b>iToken</b></span>
    </a>

    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img th:src="@{{adminlte}/dist/img/user2-160x160.jpg(adminlte=${adminlte})}" class="user-image" alt="User Image">
                        <span class="hidden-xs" th:text="${admin.userName}"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img th:src="@{{adminlte}/dist/img/user2-160x160.jpg(adminlte=${adminlte})}" class="img-circle" alt="User Image">
                            <p>
                                <span th:text="${admin.userName}"></span> - Java Developer
                                <small th:text="${#dates.format(admin.createDate, 'yyyy-MM-dd HH:mm:ss')}"> </small>
                            </p>
                        </li>

                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">个人信息</a>
                            </div>
                            <div class="pull-right">
                                <a href="http://localhost:8503/logout" class="btn btn-default btn-flat">注销</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>